* {
    font-family: monospace;
}

.centered {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.position-bottom-right {
  position: absolute;
  width:200px;
  height:100px;
  left: 600px;
  top: 50px;
}


.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin: auto;
  background: grey;
  border: thin solid black;
}
